* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: white;
  user-select: none;
}
#root {
  height: 100vh;
  width: 100vw;
}
main {
  height: 100vh;
  width: 100vw;
}
.App {
  height: 100vh;
  width: 100vw;
}
.search-button {
  position: relative;
  left: 50%;
  top: 50%;
  width: 100vw;
  transform: translate(-50%, 0%);
}
.joke {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "setup" "joke";
  place-self: center;
  text-align: center;
  height: 50vh;
}
.setup {
  grid-area: setup;
  line-height: 11;
  background-color: rgba(0, 102, 255, 0.974);
  color: black;
  box-shadow: 4px 4px;
}
.delivery {
  grid-area: joke;
  line-height: 11;
}
